openapi: 3.0.3

info:
  title: Floktask API
  description: |
    REST API 
  version: 1.0.0
  contact:
    name: Floktask Team
    email: team@floktask.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.floktask.com/api/v1
    description: Production
  - url: https://staging-api.floktask.com/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: Authentication
  - name: Users
  - name: Tasks
  - name: Projects
  - name: Sync

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        201: { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/AuthResponse' } } } }
  /auth/login:
    post:
      tags: [Authentication]
      summary: Login
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        200: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/AuthResponse' } } } }

components:
  schemas:
    RegisterRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }
    AuthResponse:
      type: object
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
